# Node dependencies
node_modules/

# Build output
dist/

# Logs
logs
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
